body {
    min-height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    box-sizing: border-box;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 250px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 50px black;
    background-color: white;
}

.score .titleScore {
    font-size: 30px;
}

.score .listScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    font-size: 20px;
}

.score .listScore li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}